*~
*.o 
*.a
*.swp
*.dSYM
.DS_Store
.vscode/
bin/
*.bin
**/__pycache__/
toyroom/tmp/
kamrat-simg/
toyroom/output/
notes.txt
.snakejobs/
snakejobs*
.snakemake/
workflow*.txt
.runinfo/
src/Makefile
.Rhistory
*.[oe][0-9][0-9]*
*.old/
dev/

Makefile
*.cmake
CMakeCache.txt
*.sh
CMakeFiles/

scripts/
perfs/
data/
kamrat
unittest