[submodule "related-scripts/prepare_kmer_table/dekupl-joinCounts"]
	path = related-scripts/prepare_kmer_table/dekupl-joinCounts
	url = https://github.com/Transipedia/dekupl-joinCounts.git
[submodule "related-tools/prepare_kmer_table/dekupl-joinCounts"]
	path = related-tools/prepare_kmer_table/dekupl-joinCounts
	url = https://github.com/Transipedia/dekupl-joinCounts.git
